		body{
			background-color: white;
			background-attachment: fixed;
		}
		.complex{
			position: center;
			margin: 2px;
			padding: 0px;

		}
		.photo img{
			margin-top: 8%;
			padding: 0;
			width: 36%;
		}
		.container{
			width: 45%;
			position: static;
			margin-top: 0px;
			padding: 2px;
			color: #0b4975;
			font-family: 'Monofett', cursive;
			letter-spacing: 2px;
			border-bottom: 5px solid #0b4975;
			border-radius: 5px;
			animation: effect 3s infinite;
			animation-delay: 1s: 
		}
		.container p{
			position: static;
			margin: 0px;
			padding: 2px;
			text-transform: uppercase;
			font-size: 55px;
		}
		.text{
			position: relative;
			width: 20%;
			font-family: 'Hi Melody', cursive;
			margin-top: 15px;
			margin-bottom: 0;
			text-align: center;
			letter-spacing: 3px;
			color: black; 
			animation: txt 4s infinite;
		}
		.dev{
			width: 20%;
			margin: 0;
			padding: 0;
			text-align: right;
			font-family: 'Ubuntu Mono', monospace;
			position: fixed;
			left: 78%;
			bottom: 0;
			color: #0b4975;
		}
		@keyframes effect{
			0%{color: #0b4975 ;}
			35%{color: black; text-shadow: 0px 0px 10px #0b4975; border-bottom: 5px solid #0b4975; border-top: none; box-shadow: none;}
			70%{padding: 1px; color: white; text-shadow: 0px -7px 3px #0b4975; border-top: 5px solid #0b4975; border-bottom: none; box-shadow: black 0px 0px 1px inset;}
		}
		@keyframes txt{
			0%{color: black; left: 0px; top: 0px;}
			25%{-ms-transform: skewX(-15deg); transform: skewX(-15deg); left: -250px; right: 0px; text-shadow: -3px 0px 3px black;}
			50%{left: 0px; right: 0px; text-shadow: none;}
			75%{color: #0b4975; left: 250px; -ms-transform: skewX(15deg); transform: skewX(15deg); text-shadow: 3px 0px 3px black; }
			100%{color: #0b4975; left: 0px; right: 0px;}
		}