		body{
			background-color: #ffffb5;
		}
		.photo img{
			margin-top: 5%;
			padding: 0;
			width: 45%;
		}
		.photo{
			position: static;
		}
		.complex{
			position: relative;
		}
		.container{
			position: relative;
			width: 70%;
			height: 10%;
			margin-top: 0px;
			padding: 2px;
			color: #007b6b;
			letter-spacing: 2px;
			font-family: 'Chewy', cursive;
			font-size: 60px;
			animation: one 3.5s infinite;
		}
		.dev{
			width: 20%;
			margin: 0;
			padding: 0;
			text-align: right;
			font-family: 'Ubuntu Mono', monospace;
			position: fixed;
			left: 78%;
			bottom: 0;
			color: #007b6b;
		}
		@keyframes one{
			5%{color: #004200; -ms-transform: scaleY(0.7); transform: scaleY(0.7);}
			15%{color:#007b6b ; -ms-transform: none; transform: none;}
			25%{color: #004200; -ms-transform: scaleY(0.7); transform: scaleY(0.7);}
			80%{
				color: #ffffb5; 
				-ms-transform: rotate(-105deg) skewX(30deg);
				transform: translate(37%, -210%) rotate(-10deg) skewX(30deg) ;
				letter-spacing: 2px;
				text-shadow: 0px 3px 10px #004200;
			}
		}